body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(127, 126, 126);
}

/* right margin marquee */

aside.marquee {
    position: fixed;
    height: 5rem;
    width: 100vh;
    overflow: visible;
    z-index: 10000;
    top: 0;
    left: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -ms-transform-origin: left top 0;
    -o-transform-origin: left top 0;
    transform-origin: left top 0;
    border-bottom: 1px dotted #d3d1d1;
}

    aside.marquee p {
        display: block;
        position: fixed;
        white-space: nowrap;
        overflow: visible;
        margin-top: 1.5rem;
        right: 40px;
    }

/* left margin marquee */

aside.marquee-left {
    position: fixed;
    height: 5rem;
    width: 100vh;
    overflow: visible;
    z-index: 10000;
    top: 0;
    right: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
    border-bottom: 1px dotted #d3d1d1;
}

    aside.marquee-left p {
        display: block;
        position: fixed;
        white-space: nowrap;
        overflow: visible;
        margin-top: 1.5rem;
        right: 40px;
    }

aside p {
    font-size: 13px;
    font-weight: 300;
}

aside a:link,
aside a:visited,
aside a:hover,
aside a:active {
    color: rgb(127, 126, 126);
    text-decoration: none;
}

aside a:hover {
    border-bottom: 2px solid rgb(0, 120, 255);
}

aside a.active {
    color: rgb(0, 120, 255);
    font-weight: 500;
}

h4 {
    color: rgb(0, 120, 255);
    font-size: 19px;
    letter-spacing: 1px;
}

.home-page h4 {
    margin-top: 0;
    margin-bottom: 2px;
}

h4 a:link,
h4 a:visited,
h4 a:hover,
h4 a:active {
    color: rgb(0, 120, 255);
    text-decoration: none;
}

i.fa::before {
    color: rgb(0, 120, 255);
}

p,
li {
    font-size: 16px;
}

.home-page {
    margin-top: 40px;
}

    .home-page .row {
        margin-bottom: 30px;
    }

.portfolio-item {
    margin-top: 80px;
}

    .portfolio-item .row {
        margin-bottom: 40px;
    }

    .portfolio-item h4 {
        text-transform: uppercase;
    }

    .portfolio-item p,
    .portfolio-item li {
        line-height: 1.7em;
        font-weight: 400;
    }

.about-page h2 {
    margin-top: 0px;
    text-transform: uppercase;
    color: #166DDB;
}

.about-page a:link,
.about-page a:visited,
.about-page a:hover,
.about-page a:active {
    color: rgb(0, 120, 255);
    text-decoration: underline;
}

.display-side {
    margin-top: 20px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.img-responsive {
    width: 100%;
}

.fa-circle.fullwidth {
    color: #166DDB;
    display: block;
    width: 100%;
    white-space: pre;
    overflow: hidden;
}

    .fa-circle.fullwidth:before {
        content: "\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020"
    }

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.footer-nav {
    font-size: 13px;
}

    .footer-nav a {
        margin-right: 15px;
        margin-left: 15px;
        color: rgb(0, 120, 255);
    }

        .footer-nav a:first-child {
            margin-left: 0;
        }

        .footer-nav a:link,
        .footer-nav a:visited,
        .footer-nav a:hover,
        .footer-nav a:active {
            text-decoration: none;
        }

        .footer-nav a:hover {
            border-bottom: 2px solid rgb(0, 120, 255);
        }

@media (max-width: 767px) {
    .col-xs-12:not(:first-child) {
        margin-top: 20px;
    }
}
